<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students Records</title>
    <link rel = "icon" href =
            "https://cdn-icons-png.flaticon.com/512/3015/3015486.png"
          type = "image/x-icon">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css">

    <style>

       body {

      background-color:#21486D;
    }
   </style>

</head>
<body >
<img style="width:130px;margin:20px" src="https://upload.wikimedia.org/wikipedia/en/0/0f/Babasaheb_Bhimrao_Ambedkar_Bihar_University_logo.png" alt="">
<div class="container text-center">
    <div style="margin-top:-90px;font-size:20px;background-color:#9CC549;width:140px;height:40px;display:flex;
    justify-content:space-around;
border-radius:5px;color:white;margin-left:590px"><p style="margin-top:4px">Students List</p>
    </div>
    <a title="Go Back to Home Page" href="/homepage"><img style="width:30px;margin-left:90%;margin-top:-60px" src="https://cdn-icons-png.flaticon.com/512/2028/2028276.png" alt="" srcset="">
    </a>
    <div style="margin-top:20px;">
        <table class="table table-striped table-bordered" style="background:black;">
            <thead class="thead-dark" style="background:cyan;width:auto">
            <tr class="header">
                <th><img style="width:30px;height:30px" src="https://cdn-icons-png.flaticon.com/512/1590/1590898.png" alt="">
                    Image</th>
                <th>ID</th>

                <th><img style="width:30px;height:30px" src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="">
                    id</th>
                <th><img style="width:30px;height:30px" src="https://img.icons8.com/color/344/employee-card.png" alt="">
                    Name</th>
                <th><img style="width:30px;height:30px" src="https://img.icons8.com/offices/344/father.png" alt="">
                    size</th>
                <th><img style="width:30px;height:30px" src="https://img.icons8.com/color/344/age.png" alt="">
                    prise</th>


            </tr>
            </thead>
            <tbody style="height:100px">
            <tr th:each="user:${productList}" class="text-white" >
                <th scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{user.image}}" style="width: 60px;height: 60px;"></th>
                <td th:text="${user.id}">Product ID</td>
                <td th:text="${user.name}">Product Name</td>
                <td th:text="${user.size}">Product size</td>
                <td th:text="${user.prise}">Product Prise</td>

            </tr>
            </tbody>

        </table>
    </div>
    <div style="width:auto;height:200px;background-color:#E6ECEF;margin:70px;border-radius:6px;box-shadow: 1px 0px 8px 0px rgb(147, 144, 144);">
        <a href="https://www.brabu.net/"> <img style="width:100%" src="https://www.brabu.net/images/demo/brabu_logo1.png" alt=""></a>
    </div>

</div>
</body>
</html>